<h1>List users</h1>

<table>
  <%= for user <- @users do %>
    <tr>
      <td><b><%= first_name(user) %>(<%= user.id %>)</b></td>
      <td><%= link "View", to: Routes.user_path(@conn, :show, user.id) %></td>
    </tr>
  <%end%>
</table>